<% layout('layouts/boilerplate') -%>
<h1>CREATE NEW LIST</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="/lists" method="POST">
                <div class="form-group">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
