<footer>
    <div class="container">
        <div class="row justify-content-center">
            <small class="my-5">Created by <a id="githubLink" href="https://github.com/edrdmolina">Eduardo Molina</a> </small>
        </div>
    </div>
</footer>