<footer>
    <div class="container">
        <div class="row justify-content-center">
            
            <small class="my-5">Created by Eduardo Molina</small>
            
        </div>
    </div>
</footer>