<footer>
    <div class="container">
        <div class="row justify-content-center">
            <small class="my-5">
                <a id="githubLink" href="https://github.com/edrdmolina">
                    <img class="" src="/images/FullColor_TransparentBg_400x320_72dpi.png" alt="">
                </a>
            </small>
        </div>
    </div>
</footer>