<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note List</title>
    <!-- BOOTSTRAP 4.6 CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>
<body>
    <%- include('../partials/navbar') %> 
    <main>
        <%- include('../partials/flash') %> 
        <%- body %> 
    </main>
    


    <!-- JQUERY -->
    <script src="/javascripts/jquery.js"></script>
    <!-- BOOTSTRAP 4.6 JS -->
    <script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>