<% layout('layouts/boilerplate') -%>

<div class="text-center border-top pt-5" data-new-gr-c-s-check-loaded="14.1013.0" data-gr-ext-installed="">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column mt-5 pt-5">
      <main role="main" class="inner cover">
        <h1 class="cover-heading display-4">LIST APP</h1>
        <p class="lead">An app designed to create checklists for everyday tasks.</p>
        <p class="lead">
          <a href="/register" class="btn btn-lg btn-outline-light">REGISTER TODAY</a>
        </p>
      </main>
    </div>
</div>