@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

body {
  font-family: Raleway, sans-serif;
  background: linear-gradient(90deg, rgba(137, 1, 186, 0.531), rgba(255, 0, 0, 0.524));
  height: 100vh;
  color: white;
}

.navbar-toggler-icon {
  color: white;
  word-break: break-word;
}

.logo {
  font-weight: 700;
  max-width: 50px;
}

.color-green {
  color: green;
}

.color-red {
  color: red;
}

.checked-off {
  text-decoration: line-through;
  text-decoration-thickness: 4px;
}

thead {
  background-color: rgba(255, 255, 255, 0.349);
}

.box {
  min-height: 225px;
  min-width: 225px;
  max-width: 225px;
  max-height: 225px;
  background-color: rgba(217, 174, 139, 0.271);
}

.lists-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly; 
}

.lists-container a {
  text-decoration: none;
}

.list-title {
  border-bottom: 3px dashed white;
  padding: 5px 0px;
  color: rgb(255, 255, 255);
}

.fa-plus-square {
  color: white;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.333);
}

#githubLink {
  color: white;
  text-decoration: none;
}