<% layout('layouts/boilerplate') -%>



<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="/register" method="POST">
                <div class="form-group">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-control" type="text" id="username" name="username" autofocus required aria-required="">
                </div>
                <div class="form-group">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" type="email" id="email" name="email" required aria-required="">
                </div>
                <div class="form-group">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" type="password" id="password" name="password" required aria-required="">
                </div>
                <div class="form-group">
                    <label class="form-label" for="confirm-password">Confirm Password</label>
                    <input class="form-control" type="password" id="confirm-password" name="confirmPassword" required aria-required="">
                    <div id="validation-message">

                    </div>
                </div>
                <button type="submit" class="btn btn-outline-light" id="submitBtn">Register</button>
            </form>
            <p class="my-3">Already have an account? <a href="/login">Login</a>.</p>
        </div>
    </div>
</div>

<script src="/javascripts/password-confirmation.js"></script>